# Banco de Dados Local (Persistência SQLite)
*.db
*.sqlite3

# Ambientes Virtuais Python
venv/
.venv/
env/
ENV/

# Arquivos de Cache e Compilação do Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Configurações de IDEs e Editores de Código
.vscode/
.idea/
*.swp
*.swo

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Arquivos de Variáveis de Ambiente e Segredos
.env
